@model GoogleToken

<div class="row">
    <div>Access Token : @Model.access_token</div>
    <div>Token Type : @Model.token_type</div>
    <div>Expires in : @Model.expires_in</div>
    <div>Refresh Token : @Model.refresh_token</div>
    <div>Expiration Date : @Model.ExpirationDate</div>
</div>