@model ChatConfig

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Empty";
}

@section Styles{
    <style>
        #container {
            font-size: @Model.FontSize;
            background-color: @Model.BackgroundColor;
            @if (Model.Width > 0)
            {
                @Html.Raw($"width: {Model.Width}px;");
            }
            @if (Model.Height > 0)
            {
                @Html.Raw($"height: {Model.Height}px;");
            }
        }

        #container .chat {
            color: @Model.Color;
        }
    </style>
}

<link rel="import" href="/components/rambler-components/rambler-chat.html" />

<dom-module id="page-module">
    <template>
        <div id="container">
            <rambler-chat id="chat" channel="OBS" max-lines="@Model.MaxLines"></rambler-chat>
        </div>
    </template>
    <script>
        addEventListener('WebComponentsReady', function () {

            Polymer({
                is: "page-module",
                listeners: {
                    "chatChanged": '_onMessageReceived'
                },
                _onMessageReceived: function () {
                    console.log('chatChanged');
                    window.setTimeout(() => {
                        document.documentElement.scrollTop = document.documentElement.scrollHeight;
                    }, 1000);
                }
            });
        })
    </script>
</dom-module>

<page-module></page-module>
