@model AccessToken

@{
    ViewData["Title"] = "Youtube Integration";
}

<link rel="import" href="/components/xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="/components/paper-toast/paper-toast.html" />

<dom-module id="page-module">
    <template>
        <xenon-photo-card heading="@ViewData["Title"]">
            <main>
                <div class="flex">
                    <div>Token Type : @Model.token_type</div>
                    <div>Expires in : @Model.expires_in</div>
                    <div>Expiration Date : @Model.ExpirationDate</div>
                </div>
                @Html.ActionLink("Broadcast", "Broadcast")
                @Html.ActionLink("Live chat messages", "Messages")
            </main>
        </xenon-photo-card>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "page-module",
            properties: {
            },
            observers: [
            ],
            ready: function () {
            }
        });
    </script>
</dom-module>

<page-module></page-module>

