@using System.Reflection
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rambler: @ViewData["Title"]</title>
    <script src="~/components/webcomponentsjs/webcomponents-lite.min.js"></script>

    <link rel="stylesheet" href="~/components/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap-base.css" />
    <link rel="stylesheet" href="~/css/bootstrap-tables.css" />
    <link rel="stylesheet" href="~/css/bootstrap-nav.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />

    @RenderSection("Styles", required: false)

    <link rel="import" href="~/components/polymer/polymer.html" />
    <link rel="import" href="~/components/iron-icons/iron-icons.html" />
    <link rel="import" href="~/components/iron-icons/hardware-icons.html" />
    <link rel="import" href="~/components/iron-icons/communication-icons.html" />
    <link rel="import" href="~/components/iron-icons/social-icons.html" />
    <link rel="import" href="~/components/iron-icon/iron-icon.html" />
    <link rel="import" href="~/components/iron-icons/editor-icons.html" />
    <link rel="import" href="~/components/xenon-layout/nav-item.html" />
    <link rel="import" href="~/components/xenon-layout/xenon-search.html" />
    <link rel="import" href="~/components/xenon-layout/xenon-section.html" />
    <link rel="import" href="~/components/xenon-layout/xenon-field-group.html" />
    <link rel="import" href="~/components/xenon-layout/xenon-layout.html" />
    <link rel="import" href="~/components/xenon-photo-card/xenon-photo-card.html" />
    <link rel="import" href="~/components/paper-button/paper-button.html" />
    <link rel="import" href="~/components/paper-menu-button/paper-menu-button.html" />
    <link rel="import" href="~/components/paper-item/paper-item.html" />
    <link rel="import" href="~/components/paper-icon-button/paper-icon-button.html" />
    <link rel="import" href="~/components/paper-input/paper-input.html" />
</head>
<body>
    <xenon-layout heading="Rambler: @ViewData["Title"]">
        <header>
            <xenon-search></xenon-search>
            <div>@ViewData["username"]</div>
        </header>
        <nav>
            <ul class="nav" style="display: flex; flex-direction: column; ">
                <li class="nav-item">
                    <a class="nav-link" href="/"><iron-icon icon="home"></iron-icon>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Chat")"><iron-icon icon="communication:chat"></iron-icon>Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Configuration")"><iron-icon icon="settings"></iron-icon>Configuration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("WordFilter", "Configuration")"><iron-icon icon="editor:text-fields"></iron-icon>Word Filter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Author")"><iron-icon icon="social:people"></iron-icon>Author</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Bot", "Configuration")"><iron-icon icon="icons:android"></iron-icon>Bot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout", "Account")"><iron-icon icon="icons:exit-to-app"></iron-icon>Logout</a>
                </li>
            </ul>
        </nav>
        <main>
            <div style="display: flex; align-content: stretch; flex-direction: column;">
                @RenderBody()
                <div style="flex: 1 1 auto;"></div>
                <footer>
                    <p>Rambler @(Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion) | &copy; 2019 - @DateTime.Now.Year Machaqueso</p>
                </footer>
            </div>
        </main>
    </xenon-layout>

    @RenderSection("Scripts", required: false)

</body>
</html>
